:root{
    --base:#ffffff;
    --shade:#373738;
}

@media screen and (max-width:767px){
    header{
        max-width: 767px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .nav_links{
        display: none;
    }

    .logo #logo{
        width:45px;
    }

    .logo #txt{
        width: 80px;
        padding-left: 6px;
    }

.talk{
    display: none;
}

.banner{
    margin-bottom: 0px;
}

.banner img{
    max-width: 767px;
    margin-right: 312px;
}

.banner .content{
    max-width: 767px;
    position:absolute;
    margin-right: 0px;
    margin-bottom: 600px;
}

.banner h1{
    font-size: 50px;
}
.content img{
    width: 120px;
    position: absolute;;
    margin-left: 60px;
}

.section-1{
    width: 100%;
    overflow: hidden;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.section-1 img{
    width: 700px;
    margin-top: 100px;
}
.section-1 .text{
    position: absolute;
    z-index: 5;
}
.section-1 .text h1{
    color:var(--base);
    font-size: 48px;
    margin-top: 40px;
}
}